@model Lot
@{
    string strTitle = "Лоты";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Актуальные лоты</h3>
        <div>
            <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@Model.Id">
                <img src="~/images/@Model.TitleImagePath" alt="" class="left" />
            </a>
            <h4>
                @Model.Product.Name
            </h4>
            <h4>
                @Model.MinPrice
            </h4>
            <h4>
                @Model.MinBetMove
            </h4>
            <p id="timer"></p>
            </li>
        </div>
    </div>
    }
</div>




