@model IQueryable<Lot>
@{
    string strTitle = "Главная";
    ViewBag.Title = strTitle;
}

<div onload="time()">
    <div>
        <h3>Актуальные лоты</h3>
        @*<div class="div-box">
                <a asp-area="User" asp-controller="Lots" asp-action="Edit" asp-route-id="">Добавить новый лот</a>
            </div>*@
        @if (Model.Any())
        {
            <div>
                @foreach (Lot entity in Model)
                {
                    <div>
                        <li>
                            <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                                <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                            </a>
                            <h4>
                                @entity.Title
                            </h4>
                            <h4>
                                @entity.MinPrice
                            </h4>
                            <h4>
                                @entity.MinBetMove
                            </h4>
                            <p>
                                Лот активен до @entity.EndDate
                            </p>
                        </li>
                    </div>
                 }
            </div>
        }
    </div>
</div>